* {
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;

    /* outline: 1px solid white; */
}

body {
    background-color: #121212;
}

hr {
    border-bottom: 0;
    border-top: 1px solid grey;
    border-radius: 10px;

    border-left: 0;
    border-right: 0;

}

.container {
    margin: 20px 40px;

    max-width: 1920px;
}

.header {
    margin: 20px 0px;
}

.header h1 {
    display: inline-block;
}

.header .rightNav {
    float: right;
    /* display: inline-block; */
}

.header .rightNav .addBook {
    background-color: darkblue;
    border: none;
    padding: 10px 20px;

    font-size: 1.2rem;
    font-weight: 600;
    
    cursor: pointer;
    border-radius: 5px;
}

.header .rightNav .addBook:hover {
    background-color: darkorchid;
}

.book-list {
    margin: 20px 10px;
}

.book-list .title {
    margin: 10px 0;
    text-align: center;
}

.books {
    display: grid;

    justify-content: center;

    width: 100%;

    grid-template-columns: repeat(auto-fill, 260px);

}

.books .card {
    margin: 10px;
    display: inline-block;
    width: inherit;

    max-width: 200px;
    /* max-height: 500px; */
    
    padding: 20px 20px;
    
    background-color: #2d2c2c;
    /* border: 1px solid white; */
    border-radius: 5px;

    box-shadow: 1px 1px 5px black;
    

}

.books .card:hover {
    background-color: #383737;
}

.books .card img {
    max-width: inherit;
    margin: 0 0 10px 0;

    border: 1px solid darkslategray;
    border-radius: 5px;
}

.books .card h3 {
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin: 5px;
}

.books .card p {
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin: 5px;
}

.books .card .btnContainer {
    display: flex;
    min-height: 70px;
    flex-direction: row;
}

.books .card button {
    border: none;
    border-radius: 5px;

    align-self: center;

    font-size: 1.2rem;

    /* margin: 0px 0; */

    width: 45%;
    /* min-height: 40px; */
    height: 40px;

    cursor: pointer;

    padding: 0;


}

.read {
    background-color: darkolivegreen;
    cursor: pointer;
}

.read:hover {
    background-color: green;

}

.books .card .unread {
    background-color: darkorange;
}

.books .card .unread:hover {
    background-color: orange;
}

.delete {
    background-color: darkred;
    cursor: pointer;

    margin: 0 0 0 7%;

}

.delete:hover {
    background-color: red;
}

.modalView {
    display: none;
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;

    margin: 0;

    padding: 50px 0px;

    background-color: rgba(0, 0, 0, 0.8);
}

.modalInner {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    text-align: center;

    padding: 20px 0px;

    margin: 0 auto;
}

.modalInner button {
    width: 25%;
    margin: 0;

    padding: 10px 0px;

    border: none;
    border-radius: 5px;
}

.modalInner input {
    color: black;
    display: block;
    width: 50%;

    padding: 10px;
    margin: 20px auto;

    border-radius: 5px;

    border: none;

    background-color: lightgrey;
}
